# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Add your MongoDB Atlas connection string here
# Get it from: https://cloud.mongodb.com
# Format: mongodb+srv://username:password@cluster.mongodb.net/
LIVEKIT_URL=wss://prop-live-hub-l7ord07r.livekit.cloud
LIVEKIT_API_KEY=APIi9v3EZ2wLgsr
LIVEKIT_API_SECRET=secretxxxxxxxxxxxx
VITE_LIVEKIT_URL=wss://your-project.livekit.cloud
